<section class="brand-parallax">
  <div class="parallax-inner">

    <!-- LOGO -->
    <div class="logo-wrapper">

      <img src="assets/img/logoQalutaBlanco.webp" class="logo-symbol" />
      <img src="assets/img/letraQaluta.webp" class="logo-text" />
    </div>


    <!-- CONTENIDO -->
    <div class="content-wrapper">
      <div class="story-block block-1 text-center">
        <img src="/assets/img/logoQalutaToursBlanco.webp" alt="Qaluta Tours" class="img-fluid story-img pb-3">

        <p>
          Su objetivo principal es conectar al visitante con la cultura viva del pueblo Jaqaru del distrito de
          Tupe, mediante experiencias auténticas que integran historia, lengua, tradiciones y vida comunitaria. A
          diferencia del turismo convencional, Qaluta Tours propone un enfoque inmersivo y responsable, donde el viajero
          no es un simple observador, sino un participante activo en las actividades culturales, productivas y sociales
          de la comunidad anfitriona.
        </p>
      </div>


      <div class="story-block block-2 text-center">
        <img src="/assets/img/logoUrpiDictionaryBlanco.webp" alt="Urpi Dictionary" class="img-fluid story-img pb-3">
        <p>Urpi Dictionary es una plataforma digital interactiva orientada a la preservación, enseñanza y difusión de la
          lengua Jaqaru. El valor diferencial de Urpi Dictionary radica en su enfoque educativo y comunitario, ya que no
          se limita a ser un repositorio de palabras, sino que funciona como un puente entre generaciones.</p>
      </div>


      <div class="story-block block-3 text-center">
        <img src="/assets/img/logoQaluta360Blanco.webp" alt="Qaluta 360°" class="img-fluid story-img pb-3">
        <p>Este producto cumple una doble función: por un lado, actúa como una herramienta de difusión cultural
          accesible desde cualquier lugar del mundo; por otro, funciona como un incentivo para el turismo vivencial,
          despertando el interés del visitante y motivándolo a vivir la experiencia presencial a través de Qaluta Tours
        </p>
      </div>

      <div class="story-block block-4 text-center">
        <img src="/assets/img/logoQalutaStoreBlanco.webp" alt="Qaluta Store" class="img-fluid story-img pb-3">
        <p>A través de Qaluta Store, las artesanías jaqaru acceden a un mercado más amplio, nacional e internacional,
          fortaleciendo la economía local y revalorizando el trabajo artesanal como expresión de identidad cultural. La
          tienda virtual también cumple una función educativa, ya que cada producto incluye información sobre su origen,
          significado cultural y proceso de elaboración, promoviendo un consumo consciente y responsable.</p>
      </div>


    </div>

  </div>
</section>
