.dictionary-section {
  background: #fff;
}

.info-card {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background: #f9f9f9;
}

aside button.btn {
  background: none;
  border: none;
}

aside button.btn:focus {
  box-shadow: none;
}

.filters-sticky {
  position: sticky;
  top: 150px; /* AJUSTA según la altura de tu navbar fixed-top */
  height: fit-content;
}
