<section class="dictionary-section py-4">
  <div class="container-fluid">
    <div class="row">

      <!-- FILTROS -->
      <aside class="col-lg-2 d-none d-lg-block border-end filters-sticky">
        <h6 class="fw-bold mb-3">Filtros</h6>

        <div class="mb-3" *ngFor="let f of ['Tipo de palabra']">
          <button class="btn w-100 d-flex justify-content-between fw-semibold px-0" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#'+f">
            {{ f }}
            <i class="bi bi-chevron-down"></i>
          </button>

          <div class="collapse show" [id]="f">
            <small class="text-muted">Opciones</small>
          </div>
        </div>
      </aside>

      <!-- CONTENIDO -->
      <main class="col-lg-8 px-lg-8">

        <!-- Buscador -->
        <div>

          <div class="d-flex align-items-center mb-3 gap-2">

            <!-- CONTENEDOR DEL INPUT -->
            <div class="position-relative flex-grow-1">

              <input type="text" class="form-control" placeholder="Buscar en Urpi Dictionary" [(ngModel)]="searchTerm"
                (ngModelChange)="onInputChange($event)" (keyup.enter)="search()">

              <!-- SUGERENCIAS -->
              <ul *ngIf="suggestions.length" class="list-group position-absolute w-100 shadow"
                style="z-index: 1000; max-height: 250px; overflow-y: auto;">
                <li class="list-group-item list-group-item-action" *ngFor="let s of suggestions"
                  (click)="selectSuggestion(s)">

                  <!-- EMPRESA -->
                  <ng-container *ngIf="s.type === 'company'">
                    <strong>{{ s.title }}</strong>
                    <div class="small text-muted">Página principal</div>
                  </ng-container>

                  <!-- PALABRA -->
                  <ng-container *ngIf="s.type === 'word'">
                    <strong>{{ s.titleEspanol }}</strong>
                    <div class="small text-muted">{{ s.titleJaqaru }}</div>
                  </ng-container>

                </li>

              </ul>

            </div>

            <!-- BOTÓN -->
            <button class="btn btn-warning" (click)="search()">Buscar</button>

          </div>


          <div class="mx-3 d-flex align-items-center mb-3 gap-2">
            <h4 *ngIf="currentContent.type === 'company'">
              {{ currentContent.title }}
            </h4>

            <h4 *ngIf="currentContent.type === 'word'">
              {{ currentContent.titleEspanol }} — {{ currentContent.titleJaqaru }}
            </h4>

          </div>

          <div class="mx-3 d-flex gap-3 justify-content-between">
            <div>
              <h6 class="">Información</h6>
            </div>
            <div>
              <a (click)="exportAsPDF()" style="cursor: pointer;">
                Descargar como PDF
              </a>
            </div>
          </div>
        </div>

        <div #exportContent [ngClass]="textSize">
          <!-- Detalles de la busqueda -->
          <div class="container my-4">
            <div class="row">
              <!-- DESCRIPCIÓN -->
              <div class="col-lg-8">
                <div class="mx-1">
                  <p class="text-muted">
                    {{ currentContent.description }}
                  </p>
                </div>
              </div>

              <!-- INFO LATERAL -->
              <aside class="col-lg-4">
                <div class="info-card p-3">

                  <h6 class="fw-bold mb-3 text-center">
                    {{ currentContent.type === 'company' ? 'Urpi Dictionary' : 'Información' }}
                  </h6>

                  <div class="bg-white">
                    <h5 *ngIf="currentContent.type === 'word'" class="fw-bold mb-3 text-center">
                      {{ currentContent.titleEspanol }}
                    </h5>
                  </div>

                  <div class="bg-white">
                    <h5 *ngIf="currentContent.type === 'word'" class=" mb-3 text-center">
                      {{ currentContent.titleJaqaru }}
                    </h5>
                  </div>


                  <div class="d-flex justify-content-center align-items-center">
                    <img [src]="currentContent.image" class="img-fluid rounded mb-3">
                  </div>



                  <table class="table table-sm">
                    <tbody>
                      <tr *ngFor="let item of currentContent.info | keyvalue">
                        <th>{{ item.key }}</th>
                        <td>{{ item.value }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </aside>
            </div>
          </div>

          <div *ngIf="currentContent.type === 'word' && currentContent.ejemplos?.length">
            <h6 class="fw-bold mt-4">Ejemplos</h6>

            <div *ngFor="let e of currentContent.ejemplos">
              <p class="mb-1">{{ e.ejemplo }}</p>
              <small class="text-muted">{{ e.traduccion }}</small>
            </div>
          </div>
        </div>


        <!-- MISIÓN Y VISIÓN -->
        <div class="mt-5" *ngIf="currentContent.type === 'company'">
          <!-- TÍTULO -->
          <h4 class="fw-bold mb-3">Misión y Visión</h4>
          <hr>

          <!-- MISIÓN -->
          <div class="row align-items-start mb-5">
            <div class="col-lg-8">

              <h6 class="fw-bold">Misión</h6>
              <p class="text-muted">
                La Declaración de Misión de la Fundación Wikimedia describe sus actividades
                y propósitos actuales, el ámbito de sus proyectos y valores principales.
                La declaración de misión actual de la Fundación Wikimedia es:
              </p>

              <blockquote class="quote-box">
                “Nuestro objetivo con este diccionario virtual es facilitar el acceso y
                aprendizaje del Jaqaru, permitiendo la traducción entre español y Jaqaru
                de manera sencilla e intuitiva. Queremos que esta herramienta no solo ayude
                a quienes desean aprender el idioma, sino que también sirva como un recurso
                clave para la comunidad, investigadores y cualquier persona interesada en
                conocer más sobre esta lengua y su riqueza cultural.”
              </blockquote>

            </div>

            <div class="col-lg-4 text-center">
              <div class="profile">
                <div class="avatar">
                  <img src="assets/img/fotoCEO.webp" alt="Francis Castillo">
                </div>
                <p class="fw-bold mb-0 mt-2">Francis Castillo Sanabria</p>
                <small class="text-muted">CEO</small>
              </div>
            </div>
          </div>

          <!-- VISIÓN -->
          <div class="row align-items-start flex-lg-row-reverse">
            <div class="col-lg-8">

              <h6 class="fw-bold">Visión</h6>
              <p class="text-muted">
                La Declaración de Visión de la Fundación Wikimedia describe sus actividades
                y propósitos actuales, el ámbito de sus proyectos y valores principales.
                La declaración de visión actual de la Fundación Wikimedia es:
              </p>

              <blockquote class="quote-box">
                “Este proyecto nace con una visión clara: contribuir a la revitalización
                del Jaqaru y darle el lugar que merece en el mundo digital. Queremos que
                más personas conozcan esta lengua, la valoren y la usen, asegurando que
                su legado no se pierda con el tiempo. Gracias a la tecnología, podemos
                preservar y compartir este conocimiento con futuras generaciones,
                manteniéndolo vivo en internet y accesible para todos.”
              </blockquote>

            </div>

            <div class="col-lg-4 text-center">
              <div class="profile">
                <div class="avatar">
                  <img src="assets/img/fotoCEO.webp" alt="Gabriel Gutierrez">
                </div>
                <p class="fw-bold mb-0 mt-2">Dayron Soncco</p>
                <small class="text-muted">Socio</small>
              </div>
            </div>
          </div>
        </div>

      </main>

      <!-- APARIENCIA -->
      <aside class="col-lg-2 d-none d-lg-block border-start ps-3 filters-sticky">

        <h6 class="fw-bold mb-3">Apariencia</h6>
        <hr>

        <!-- TEXTO -->
        <div class="mb-4">
          <small class="text-muted fw-semibold d-block mb-2">Texto</small>

          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="textSize" id="textSmall" value="small"
              [(ngModel)]="textSize">
            <label class="form-check-label" for="textSmall">
              Pequeño
            </label>
          </div>

          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="textSize" id="textNormal" value="normal"
              [(ngModel)]="textSize">
            <label class="form-check-label" for="textNormal">
              Estándar
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="textSize" id="textLarge" value="large"
              [(ngModel)]="textSize">
            <label class="form-check-label" for="textLarge">
              Grande
            </label>
          </div>
        </div>
      </aside>

    </div>
  </div>
</section>
