<section class="cta-store container py-5">
  <div>
    <div class="text-center">
      <h2 class="cta-title">Conoce nuestra tienda Qaluta Store</h2>
      <p class="cta-text">
        ¡Muestra tu amor por Qaluta con nuestras
        prendas y artículos, disponibles a precios accesibles!
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 p-5">
        <div class="stack-container position-relative">
          <img src="assets/img/poloQaluta.png" class="img-stack img-1" />
          <img src="assets/img/amoTupe.png" class="img-stack img-2" />
          <img src="assets/img/tazaShumay.png" class="img-stack img-3" />
        </div>


      </div>

      <div class="col-12 col-md-6 p-5 d-flex align-items-center justify-content-center">

        <div class="text-center">
          Explora Kaluta Store y encuentra tu
          artículo favorito.
          <button class="btn text-light mt-3 px-4 py-2 text-uppercase fw-semibold cta-btn" style="background-color: #C46C15;">
            Ir a Qaluta Store
          </button>
        </div>

      </div>


    </div>
  </div>
</section>
