.carousel-item img {
  height: 100vh; /* pantalla completa */
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 10px;
}

.carousel-caption.d-none.d-md-block:hover {
  background: rgba(252, 180, 46, 0.7);
  transition: background 0.3s, color 0.3s;
}
