<section class="brand-parallax">
  <div class="parallax-inner">

    <!-- LOGO -->
    <div class="logo-wrapper">
      <img style="background-color: white;" src="assets/img/iconoQaluta.png" class="logo-symbol img-fluid border border-dark shadow-lg rounded" />
      <img style="background-color: white;" src="assets/img/logoQaluta.png" class="logo-text" />
    </div>

    <!-- CONTENIDO -->
    <div class="content-wrapper">
      <div class="story-block block-1">
        <h3>Título 1</h3>
        <p>Texto del primer bloque</p>
      </div>

      <div class="story-block block-2">
        <h3>Título 2</h3>
        <p>Texto del segundo bloque</p>
      </div>

      <div class="story-block block-3">
        <h3>Título 3</h3>
        <p>Texto del tercer bloque</p>
      </div>
    </div>

  </div>
</section>
