<section class="brand-parallax">
  <div class="parallax-inner">

    <!-- LOGO -->
    <div class="logo-wrapper">

      <img src="assets/img/logoQalutaBlanco.png" class="logo-symbol" />
      <img src="assets/img/letraQaluta.png" class="logo-text" />
    </div>


    <!-- CONTENIDO -->
    <div class="content-wrapper">
      <div class="story-block block-1">
        <h2>Inspiración</h2>
        <p>Inspirado en la lucha por preservar el idioma Jaqaru y el legado de la lingüista Martha J. Hardman. El
          equipo se anima a emprender por compromiso cultural y por impulsar el turismo responsable en
          Cañete - Yauyos.</p>
      </div>

      <div class="story-block block-2">
        <h2>Innovación y valor</h2>
        <p>Aplica TICs (E-commerce, entornos 360°,
          diccionarios interactivos) para la preservación
          cultural, algo poco explorado en el Perú.</p>
      </div>

      <div class="story-block block-3">
        <h2>Diferencia:</h2>
        <p>Qaluta integra tecnología digital, comercio justo
          y turismo cultural bajo un modelo económico
          sostenible y bilingüe (Español–Jaqaru).</p>
      </div>


    </div>

  </div>
</section>
